body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.page-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.grid-container {
  display: grid;
  grid-template-columns: auto repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 1px;
  background-color: #e0e0e0;
  height: 100vh;
  overflow: auto;
}

.grid-item {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin: 0.5%;
}

.grid-cell {
  transition: transform 0.3s;
}

.grid-cell:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.grid-item img,
.grid-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header {
  background: linear-gradient(90deg, rgba(20,90,149,1) 0%, rgba(20,147,93,1) 100%);
  background-size: 400% 100%;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.header.dataset-type {
  grid-column: span 1;
  background-position: 0 0; /* First section of the gradient */
}

.header.ai-type {
  grid-column: span 3;
  background-position: 100% 0; /* Full span of the gradient */
}

/* Other CSS rules */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.modal-title {
  padding: 20px;
  margin: 0;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  font-size: 24px;
}

.modal-content h2 {
  padding: 20px;
  margin: 0;
  background-color: #f0f0f0;
  color: #333;
}

.modal-body {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 20px;
  transition: transform 0.3s;
}

.image-container:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.image-container img,
.image-container video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.text-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  color: #333;
}

.text-container h3 {
  margin-top: 0;
}

.text-container p {
  margin-bottom: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.blurred-background, .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-warning {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  width: 100%;
  color: white;
  text-align: center;
}

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(240, 240, 240, 0.5);
}

.card {
  width: 80%;
  max-width: 1000px;
  height: 80%;
  max-height: 800px;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, rgba(20,90,149,1) 0%, rgba(20,147,93,1) 100%);
  color: white;
  position: relative;
  filter: drop-shadow(5px 5px 10px #000000);
  z-index: 101;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-media {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: auto repeat(3, 1fr);
  }

  .header.ai-type {
    grid-column: span 1;
  }

  .card {
    width: 80%;
    height: 80%;
  }
}

.error-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #666;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.black-text {
  color: black;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.full-screen-media-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.full-screen-media-container {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-media {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
}

.item-title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.code-preview {
  font-size: 10px;
}

.initial-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #145A95 0%, #14935D 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.initial-overlay .overlay-content {
  background: white;
  border-radius: 15px;
  padding: 30px;
  width: 90%;
  max-width: 600px;
  height: 80vh;
  max-height: 600px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.initial-overlay .scrollable-content {
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 15px;
  margin-right: -15px;
}

.initial-overlay h1 {
  font-size: 1.8rem;
  color: #145A95;
  margin-bottom: 10px;
}

.initial-overlay h2 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
}

.initial-overlay section {
  margin-bottom: 15px;
}

.initial-overlay h3 {
  font-size: 1.2rem;
  color: #14935D;
  margin-bottom: 8px;
}

.initial-overlay p, .initial-overlay ul {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 8px;
}

.initial-overlay ul {
  padding-left: 20px;
  margin-top: 5px;
}

.initial-overlay .start-exploring {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: #145A95;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.initial-overlay .start-exploring:hover {
  background-color: #14935D;
}

@media (max-width: 768px) {
  .initial-overlay .overlay-content {
    padding: 20px;
    height: 90vh;
  }

  .initial-overlay h1 {
    font-size: 1.5rem;
  }

  .initial-overlay h2 {
    font-size: 0.9rem;
  }

  .initial-overlay h3 {
    font-size: 1.1rem;
  }
}



.overlay-warning.orange {
  background-color: rgba(255, 165, 0, 0.7);
}

.overlay-warning.red {
  background-color: rgba(255, 0, 0, 0.7);
}

.text-container.orange-border {
  border: 2px solid orange;
  padding: 10px;
}

.red-border {
  border: 2px solid red;
}

.code-warning {
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
}

.code-warning.orange {
  color: orange;
}

.code-warning.red {
  color: red;
}